<!-- Gallery -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}"{{ end }} aria-labelledby="gallery-heading">
    <div class="inner">
        <h2 id="gallery-heading">{{ .title }}</h2>
        <p>{{ .content | safeHTML }}</p>
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button primary large wide smooth-scroll-middle">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>

    <!-- Gallery -->
    <div class="gallery {{ .style }}">
        {{ range .pictures }}
            {{ partial "picture" . }}
        {{ end }}
    </div>
</section>