<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.blog }}<li><a target="_blank" rel="me" href="{{.}}" class="icon style2 regular fa-pen-to-square"><span class="label">Blog</span></a></li>{{end}}
            {{ with .Site.Params.social.threads }}<li><a target="_blank" rel="me" href="{{.}}" class="icon style2 brands fa-at"><span class="label">Threads</span></a></li>{{end}}
            {{ with .Site.Params.social.mastodon }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-mastodon"><span class="label">Mastodon</span></a></li>{{end}}
            {{ with .Site.Params.social.photos }}<li><a target="_blank" rel="me" href="{{.}}" class="icon style2 regular fa-images"><span class="label">Photography</span></a></li>{{end}}
            {{ with .Site.Params.social.medium }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-medium"><span class="label">Medium</span></a></li>{{end}}
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" rel="me" href="mailto:{{.}}" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
            {{ with .Site.Params.social.flickr }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-flickr"><span class="label">Flickr</span></a></li>{{end}}
            {{ with .Site.Params.social.github }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.x }}<li><a target="_blank" rel="me" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">X</span></a></li>{{end}}
            {{ with .Site.Params.social.bluesky }}<li><a target="_blank" rel="me" href="{{.}}" class="icon style2 fa-cloud"><span class="label">Bluesky</span></a></li>{{end}}
        </ul>
        <p>© Mike Lapidakis. All rights reserved.</p>
</div>
</footer>